@import "tailwindcss";



@theme  {
  --color-purple: #5D86E2;
  --color-green: #37BC8F;
  --color-gray: #DFE7FA;
  --color-red: #CE5A5D;
}



html, body {
min-height: 100%;
}

.employeeList::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar background */
.employeeList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar thumb */
.employeeList::-webkit-scrollbar-thumb {
  background:#5D86E2; /* purple */
  border-radius: 10px;
}

/* Hover */
.employeeList::-webkit-scrollbar-thumb:hover {
  background: #5D86E2;
}


