@import "tailwindcss";



@theme  {
  --color-purple: #5D86E2;
  --color-green: #37BC8F;
  --color-gray: #DFE7FA;
  --color-red: #CE5A5D;
}



html, body {
height: 100%;
}

body {
  overflow: hidden;
}

