@import "tailwindcss";



@theme  {
    --font-sans: var(--font-roboto);

  --color-purple: #465EFD;
  --color-bg-dark: #101828;
  --color-gray-icon: #7A8395;
  
  --color-black: #191919;
  --color-green: #2A9D91;
  --color-red: #E73D1C;
  --color-gray: #F3F4F6;
  --color-gray-text: #525256;
  --color-border-bottom: #E8E8E8;

  --shadow-card: 0px 6px 20px rgba(0, 0, 0, 0.1);
  --shadow-input: 0px 6px 20px rgba(0, 0, 0, 0.08);
}



html, body {
  height: 100%;

}

body {
  /* overflow: hidden; */
  font-family: var(--font-roboto), system-ui, sans-serif;
}


.employeeList::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar background */
.employeeList::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar thumb */
.employeeList::-webkit-scrollbar-thumb {
  background:#5D86E2; /* purple */
  border-radius: 10px;
}

/* Hover */
.employeeList::-webkit-scrollbar-thumb:hover {
  background: #5D86E2;
}


